perfumes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="perfumes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="perfume" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:string"/>
							<xs:element name="brand" type="xs:string"/>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="year" type="xs:short"/>
							<xs:element name="concentration" type="xs:string"/>
							<xs:element name="fragrance" type="xs:string"/>
							<xs:element name="main_accords">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="accord" maxOccurs="unbounded" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="notes">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="note" type="xs:string"/>
										<xs:element name="top_notes">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="note" maxOccurs="unbounded" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="middle_notes">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="note" maxOccurs="unbounded" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="base_notes">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="note" maxOccurs="unbounded" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
